.sudoku-board {
    grid-template-columns: repeat(9, 1fr);
    gap: 0;
    width: 100%;
    max-width: 450px;
    margin: auto;
  }
  
  .sudoku-cell {
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 0;
  }
  
  .original-cell {
    background-color: #e9ecef; 
  }
  
  .editable-cell {
    background-color: #fff;
  }
  
  .border-bottom-bold {
    border-bottom: 2px solid #000 !important;
  }
  
  .border-right-bold {
    border-right: 2px solid #000 !important;
  }

  .highlight-cell {
    background-color: #fafa97;
  }
  