<div class="container mt-3">
  <button class="btn btn-outline-secondary mb-3" (click)="goBack()">← Back</button>

  <div class="row d-flex flex-column flex-md-row align-items-md-center">
    <div class="col-md-4 d-flex justify-content-center mb-4 mb-md-0">
      <div class="instructions-box p-4 rounded bg-light border text-md-start">
        <h5 class="mb-3"><strong>Fill the board</strong></h5>
        <p class="mb-2">Enter missing numbers and complete the puzzle.</p>

        <h5 class="mb-3"><strong>Validate your logic</strong></h5>
        <p class="mb-2">Click 'Validate' to check if your solution is correct.</p>

        <h5 class="mb-3"><strong>Solve</strong></h5>
        <p class="mb-0">Need help? Click on the 'Solve' button.</p>
      </div>
    </div>

    <div class="col-md-8">
      <app-sudoku-board></app-sudoku-board>
    </div>
  </div>
</div>
