<div class="container">
  <button class="btn btn-outline-secondary m-3" (click)="goBack()">← Back</button>
  <div class="row g-5">
    <div class="col-12 col-md-8">
      <div class="bg-white border p-2 h-100 d-flex justify-content-center align-items-center">
        <app-sudoku-board></app-sudoku-board>
      </div>
    </div>
    
    <div class="col-12 col-md-4">
      <div class="bg-white border rounded p-4 h-100">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <span class="text-uppercase text-muted small">Game Info</span>
          <span class="badge bg-secondary text-white text-capitalize">{{ difficulty }}</span>
        </div>
        <div class="mb-4">
          <app-timer></app-timer>
        </div>
        <div class="mb-4">
          <h6 class="mb-1">Fill the board</h6>
          <p class="small text-muted mb-0">Enter missing numbers to complete the puzzle.</p>
        </div>
        <div class="mb-4">
          <h6 class="mb-1">Validate your logic</h6>
          <p class="small text-muted mb-0">Click 'Validate' to check if your solution is correct.</p>
        </div>
        <div>
          <h6 class="mb-1">Solve</h6>
          <p class="small text-muted mb-0">Need help? Click 'Solve' to complete the puzzle automatically.</p>
        </div>
      </div>
    </div>
  </div>
</div>
